# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# VIM swap files
.*.sw?

# MACOS files
.DS_Store*
Thumbs.db

# Backup files
*.bak
*.un~
*~

# Executables
*.exe
*.out
*.app
